@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-30px); }
  60% {
    transform: translateY(-15px); } }
@keyframes fade {
  0% {
    opacity: 0; }
  10% {
    opacity: 0.1; }
  20% {
    opacity: 0.2; }
  30% {
    opacity: 0.3; }
  40% {
    opacity: 0.4; }
  50% {
    opacity: 0.5; }
  60% {
    opacity: 0.6; }
  70% {
    opacity: 0.7; }
  80% {
    opacity: 0.8; }
  90% {
    opacity: 0.9; }
  100% {
    opacity: 1; } }
html, body {
  font-family: 'Comfortaa', cursive;
  min-height: 100%;
  height: 100%; }

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #dcb4bd; }

header {
  background: #51648b; }
  header .navbar-default {
    margin: 10px 0;
    color: #000;
    border: none;
    background: transparent; }
    header .navbar-default .navbar-header button {
      background-color: transparent;
      border: none; }
      header .navbar-default .navbar-header button .icon-bar {
        background-color: #fff; }
    @media (max-width: 767px) {
      header .navbar-default .navbar-collapse {
        width: 100%; } }
    header .navbar-default .navbar-collapse .nav {
      text-align: center;
      font-family: 'Dancing Script', cursive;
      font-size: 20px; }
      header .navbar-default .navbar-collapse .nav li a {
        color: #fff;
        -webkit-transition: 0.5s ease;
        -moz-transition: 0.5s ease;
        -ms-transition: 0.5s ease;
        -o-transition: 0.5s ease;
        transition: 0.5s ease; }
        header .navbar-default .navbar-collapse .nav li a:hover {
          color: #98a6c3;
          text-decoration: none; }
      header .navbar-default .navbar-collapse .nav .active a {
        border: none;
        background-color: #687da7;
        color: #fff; }
    header .navbar-default .navbar-collapse .navbar-form .search-icon {
      float: right; }
      header .navbar-default .navbar-collapse .navbar-form .search-icon input[type=checkbox] {
        display: none; }
        header .navbar-default .navbar-collapse .navbar-form .search-icon input[type=checkbox]:checked .form-group input [type=text] {
          width: 120px; }
      header .navbar-default .navbar-collapse .navbar-form .search-icon i {
        color: #fff;
        padding: 4px;
        margin: 4px;
        cursor: pointer; }
    header .navbar-default .navbar-brand {
      color: #fff;
      font-family: 'Dancing Script', cursive;
      font-size: 30px; }
      header .navbar-default .navbar-brand:hover {
        color: #98a6c3; }

.parallax {
  background-image: url("image/parallax-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  padding: 0;
  margin: 0;
  min-height: 580px;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media (min-width: 768px) {
    .parallax {
      min-height: 628px; } }
  @media (min-width: 992px) {
    .parallax {
      min-height: 760px; } }
  .parallax .parallax-content {
    line-height: 26px;
    padding: 20px 30px;
    background-color: rgba(81, 100, 139, 0.5);
    border-radius: 8px; }
    @media (min-width: 992px) {
      .parallax .parallax-content {
        padding: 60px; } }
  .parallax .arrow {
    display: none; }
    @media (min-width: 992px) {
      .parallax .arrow {
        display: block;
        position: absolute;
        bottom: 8%;
        font-size: 30px;
        -webkit-transition: 0.5s ease;
        -moz-transition: 0.5s ease;
        -ms-transition: 0.5s ease;
        -o-transition: 0.5s ease;
        transition: 0.5s ease;
        animation: bounce 1.3s infinite; }
        .parallax .arrow a {
          -webkit-transition: 0.5s ease;
          -moz-transition: 0.5s ease;
          -ms-transition: 0.5s ease;
          -o-transition: 0.5s ease;
          transition: 0.5s ease;
          color: #fff;
          padding: 40px; }
          .parallax .arrow a:hover {
            color: #dcb4bd; } }
  .parallax h3 {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    margin: 10px 0;
    text-shadow: 1px 1px 2px #51648b; }
    @media (min-width: 992px) {
      .parallax h3 {
        padding: 10px 20px;
        font-size: 40px; } }
  .parallax p {
    text-shadow: 1px 3px 0 #51648b;
    font-size: 16px; }
    @media (min-width: 992px) {
      .parallax p {
        padding: 10px 20px; } }
  .parallax .btn {
    background-color: #dcb4bd;
    color: #fff;
    border-radius: 0;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    padding: 15px;
    margin: 15px 0 0; }
    .parallax .btn:hover {
      background-color: #c58392;
      text-decoration: none;
      color: #fff; }
  @media (min-width: 1200px) {
    .parallax {
      height: 100%; } }

.services {
  margin: 30px 0; }
  .services h3 {
    text-align: center;
    width: 80%;
    margin: 20px auto;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    position: relative; }
    .services h3:before {
      content: "";
      width: 60px;
      height: 2px;
      background: #dcb4bd;
      position: absolute;
      bottom: -10px;
      left: 40%; }
    @media (min-width: 768px) {
      .services h3 {
        position: relative; }
        .services h3:before {
          content: "";
          width: 120px;
          height: 2px;
          background: #dcb4bd;
          position: absolute;
          bottom: -10px;
          left: 40%; } }
  .services .services-block {
    margin: 20px 0;
    text-align: center;
    height: 330px; }
    .services .services-block .icon-container {
      width: 150px;
      height: 160px;
      display: block;
      margin: 0 auto; }
    .services .services-block img {
      width: 100%;
      height: 100%; }
    .services .services-block h4 {
      padding: 10px 0; }
      .services .services-block h4 a {
        color: #dcb4bd;
        font-family: 'Dancing Script', cursive;
        font-size: 24px; }
        .services .services-block h4 a:hover {
          color: #c58392; }
    .services .services-block p {
      color: #888888;
      padding: 10px;
      line-height: 26px; }

.about-us {
  background-color: #ecebf4; }
  @media (min-width: 992px) {
    .about-us .about-us-row {
      display: flex;
      flex-flow: row;
      align-items: center; } }
  .about-us .half-background {
    background: url("image/project21.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    height: 480px;
    padding: 0; }
    @media (min-width: 820px) {
      .about-us .half-background {
        width: 50%;
        height: 548px; } }
    @media (min-width: 992px) {
      .about-us .half-background {
        height: 600px; } }
  .about-us .content-about-us {
    padding: 40px 45px;
    line-height: 20px; }
    .about-us .content-about-us h3 {
      margin: 10px 0 20px 0;
      position: relative;
      font-family: 'Dancing Script', cursive;
      font-size: 30px; }
      .about-us .content-about-us h3:before {
        content: "";
        width: 60px;
        height: 2px;
        background: #dcb4bd;
        position: absolute;
        bottom: -10px;
        left: 0; }
    .about-us .content-about-us h4 {
      line-height: 22px;
      margin: 24px 0; }
    .about-us .content-about-us p {
      color: #888888; }
    @media (min-width: 820px) {
      .about-us .content-about-us {
        width: 50%; } }

.wrapper {
  position: relative; }

footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 0 -80px 0;
  background-color: #51648b; }
  footer .footer-icon-links {
    text-align: center;
    margin: 20px 0;
    height: 80px;
    width: 100%; }
    footer .footer-icon-links .copyright {
      color: #fff;
      margin-top: 10px; }
      @media (min-width: 768px) {
        footer .footer-icon-links .copyright {
          float: left;
          text-align: left; } }
      footer .footer-icon-links .copyright a {
        color: #dcb4bd; }
        footer .footer-icon-links .copyright a:hover {
          border-bottom: 1px solid #dcb4bd;
          text-decoration: none; }
    footer .footer-icon-links .icon {
      margin-top: 10px; }
      footer .footer-icon-links .icon a {
        padding: 6px;
        color: #fff;
        -webkit-transition: 0.5s ease;
        -moz-transition: 0.5s ease;
        -ms-transition: 0.5s ease;
        -o-transition: 0.5s ease;
        transition: 0.5s ease; }
        footer .footer-icon-links .icon a:hover {
          color: #dcb4bd;
          text-decoration: none; }
        @media (min-width: 768px) {
          footer .footer-icon-links .icon a {
            float: right; } }
    @media (min-width: 768px) {
      footer .footer-icon-links {
        height: 40px; } }

/* Contacts */
.for-contacts {
  margin-bottom: 100px; }

.our-contacts {
  padding: 30px 10px; }
  .our-contacts h3 {
    font-family: 'Dancing Script', cursive;
    font-size: 30px; }
  .our-contacts .contact-info {
    margin: 30px 0;
    text-align: center;
    position: relative; }
    .our-contacts .contact-info:before {
      content: "";
      width: 60px;
      height: 2px;
      background: #dcb4bd;
      position: absolute;
      bottom: -14px;
      left: 40%; }
    @media (min-width: 768px) {
      .our-contacts .contact-info {
        position: relative; }
        .our-contacts .contact-info:before {
          content: "";
          width: 60px;
          height: 2px;
          background: #dcb4bd;
          position: absolute;
          bottom: -10px;
          left: 45%; } }
    @media (min-width: 1200px) {
      .our-contacts .contact-info {
        margin-top: 20px;
        margin-bottom: 50px; } }
  .our-contacts .contact-info-block {
    margin: 0 0 30px; }
    .our-contacts .contact-info-block .address {
      color: #888888;
      font-size: 16px; }
      .our-contacts .contact-info-block .address i {
        color: #dcb4bd;
        padding: 0 8px 0 0; }
      .our-contacts .contact-info-block .address a {
        color: #dcb4bd;
        text-decoration: none;
        cursor: pointer; }
        .our-contacts .contact-info-block .address a:hover {
          color: #c58392; }
    .our-contacts .contact-info-block .icon a {
      color: #888888;
      padding: 10px 10px 10px 0;
      cursor: pointer; }
      .our-contacts .contact-info-block .icon a:hover {
        color: #dcb4bd;
        text-decoration: none; }
    @media (min-width: 1200px) {
      .our-contacts .contact-info-block {
        margin: 0; } }
  .our-contacts .contact-form {
    text-align: center;
    position: relative; }
    .our-contacts .contact-form:before {
      content: "";
      width: 60px;
      height: 2px;
      background: #dcb4bd;
      position: absolute;
      bottom: -14px;
      left: 40%; }
    @media (min-width: 768px) {
      .our-contacts .contact-form {
        position: relative; }
        .our-contacts .contact-form:before {
          content: "";
          width: 60px;
          height: 2px;
          background: #dcb4bd;
          position: absolute;
          bottom: -14px;
          left: 45%; } }
    @media (min-width: 1200px) {
      .our-contacts .contact-form {
        margin-bottom: 50px; } }
  .our-contacts .contact-form-block form input {
    width: 100%;
    margin: 8px 0;
    height: 40px;
    padding: 10px;
    background-color: #ecebf4;
    border-radius: 5px;
    border-color: transparent; }
    @media (min-width: 768px) {
      .our-contacts .contact-form-block form input {
        margin: 8px 10px; } }
  .our-contacts .contact-form-block form textarea {
    width: 100%;
    padding: 10px;
    background-color: #ecebf4;
    border: none; }
    @media (min-width: 768px) {
      .our-contacts .contact-form-block form textarea {
        margin: 10px 10px; } }
  .our-contacts .contact-form-block form .form-button {
    background-color: #dcb4bd;
    color: #fff;
    border-radius: 0;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    height: 50px; }
    .our-contacts .contact-form-block form .form-button:hover {
      background-color: #c58392;
      text-decoration: none;
      color: #fff; }
    @media (min-width: 768px) {
      .our-contacts .contact-form-block form .form-button {
        margin: 10px 10px;
        width: 46%; } }
    @media (min-width: 992px) {
      .our-contacts .contact-form-block form .form-button {
        margin: 10px 10px;
        width: 25%; } }
  @media (min-width: 1200px) {
    .our-contacts {
      margin-top: 60px; } }

/* Services */
.about-services {
  min-height: 100%;
  padding: 0;
  margin: 0; }
  .about-services .services-row {
    display: flex;
    align-items: center; }
    @media (max-width: 950px) {
      .about-services .services-row {
        flex-flow: column nowrap; } }
  @media (min-width: 1200px) {
    .about-services .services-block {
      margin-top: 60px; } }
  .about-services .services-image-half-block {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    padding: 0; }
    @media (min-width: 950px) {
      .about-services .services-image-half-block {
        max-width: 50%; } }
  .about-services .background-1 {
    background-image: url("image/ cake.jpg");
    background-position: center center;
    order: 1; }
  .about-services .background-2 {
    background-image: url("image/project11.jpg");
    order: 1; }
    @media (min-width: 950px) {
      .about-services .background-2 {
        order: 2; } }
  .about-services .background-3 {
    background-image: url("image/bouquet19.jpg");
    order: 1; }
  .about-services .background-4 {
    background-image: url("image/bouquet22.jpg"); }
    @media (min-width: 950px) {
      .about-services .background-4 {
        order: 2; } }
  .about-services .services-image img {
    max-width: 100%; }
  .about-services .services-info {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 60px;
    order: 2; }
    .about-services .services-info h3 {
      font-family: 'Dancing Script', cursive;
      font-size: 30px;
      text-transform: uppercase;
      display: block;
      position: relative;
      margin-bottom: 25px; }
      .about-services .services-info h3:before {
        content: "";
        width: 60px;
        height: 2px;
        background: #dcb4bd;
        position: absolute;
        bottom: -14px;
        left: 0; }
    .about-services .services-info p {
      line-height: 26px;
      color: #888888;
      margin: 0 0 30px; }
    .about-services .services-info a {
      background-color: #dcb4bd;
      color: #fff;
      border-radius: 0;
      padding: 14px 26px;
      margin: 16px 0 0 0;
      -webkit-transition: 0.5s ease;
      -moz-transition: 0.5s ease;
      -ms-transition: 0.5s ease;
      -o-transition: 0.5s ease;
      transition: 0.5s ease; }
      .about-services .services-info a:hover {
        background-color: #c58392;
        text-decoration: none;
        color: #fff; }
    @media (min-width: 950px) {
      .about-services .services-info {
        max-width: 50%; } }

.white {
  background-color: #fff; }

.grey {
  background-color: #ecebf4; }

/*Projects*/
.projects-page {
  margin-top: 30px;
  text-align: center; }
  .projects-page h3 {
    display: inline-block;
    position: relative;
    font-family: 'Dancing Script', cursive;
    font-size: 30px; }
    .projects-page h3:before {
      content: "";
      width: 60px;
      height: 2px;
      background: #dcb4bd;
      position: absolute;
      bottom: -8px;
      left: 0; }
  .projects-page .project-block {
    margin: 20px 0 20px;
    padding: 30px 30px 40px;
    text-align: center; }
  @media (min-width: 1200px) {
    .projects-page figure {
      background-color: #dcb4bd;
      overflow: hidden;
      position: relative;
      transform-style: preserve-3d;
      perspective: 1000px; } }
  .projects-page figure img {
    max-width: 100%; }
    @media (min-width: 1200px) {
      .projects-page figure img {
        max-width: none;
        height: 300px;
        object-fit: cover;
        width: 100%;
        opacity: 0.85;
        transform-origin: 0 -50%;
        -webkit-transition: 0.5s ease;
        -moz-transition: 0.5s ease;
        -ms-transition: 0.5s ease;
        -o-transition: 0.5s ease;
        transition: 0.5s ease; }
        .projects-page figure img:hover {
          opacity: 1;
          transform: scale(1.1) translate(0%, -8%); } }
  .projects-page figure a {
    background-color: #dcb4bd;
    color: #fff;
    border-radius: 0;
    padding: 14px 26px;
    margin: 16px 0 0 0;
    -webkit-transition: 0.7s ease;
    -moz-transition: 0.7s ease;
    -ms-transition: 0.7s ease;
    -o-transition: 0.7s ease;
    transition: 0.7s ease; }
    .projects-page figure a:hover {
      background-color: #c58392;
      text-decoration: none;
      color: #fff; }
    @media (min-width: 1200px) {
      .projects-page figure a {
        position: absolute;
        bottom: 15%;
        left: 40%; } }
    .projects-page figure a:hover {
      background-color: #c58392;
      text-decoration: none; }
  .projects-page figure p {
    color: #888888;
    line-height: 26px;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease; }
    @media (min-width: 992px) {
      .projects-page figure p {
        padding: 20px 0;
        margin: 0 auto;
        width: 70%; } }
    @media (min-width: 1200px) {
      .projects-page figure p {
        display: none; } }
  .projects-page figure figcaption h3 {
    font-family: 'Dancing Script', cursive;
    display: inline-block;
    text-transform: uppercase;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    position: relative; }
    .projects-page figure figcaption h3:before {
      content: "";
      width: 60px;
      height: 2px;
      background: #dcb4bd;
      position: absolute;
      bottom: -4px;
      left: 0; }
    @media (min-width: 1200px) {
      .projects-page figure figcaption h3 {
        position: absolute;
        top: 38%;
        left: 26%;
        color: #fff;
        transform: translateZ(80px);
        font-size: 31px;
        font-weight: 600;
        background-color: rgba(177, 174, 198, 0.6);
        padding: 2px; } }
  @media (min-width: 1200px) {
    .projects-page figure:hover img {
      opacity: 1;
      transform: scale(1.1) translate(0%, -8%); }
    .projects-page figure:hover figcaption h3 {
      top: 6%;
      left: 40%; }
      .projects-page figure:hover figcaption h3:hover img {
        opacity: 1;
        transform: scale(1.1) translate(0%, -8%); }
    .projects-page figure:hover figcaption a {
      bottom: 5%;
      left: 4%; }
    .projects-page figure:hover figcaption p {
      display: table;
      position: absolute;
      top: 30%;
      left: 12%;
      color: #fff;
      width: 80%;
      background-color: rgba(177, 174, 198, 0.6);
      font-size: 12px;
      line-height: 20px;
      padding: 8px;
      -webkit-transition: 0.7s ease;
      -moz-transition: 0.7s ease;
      -ms-transition: 0.7s ease;
      -o-transition: 0.7s ease;
      transition: 0.7s ease;
      animation: fade 0.7s; } }

/* About Us */
.about-us-page {
  margin: 40px 0; }
  .about-us-page .services-block {
    margin: 30px 0; }
    @media (max-width: 768px) {
      .about-us-page .services-block {
        padding: 0 24px; } }
    @media (min-width: 768px) {
      .about-us-page .services-block p {
        padding: 0 10px 0 0; } }
    .about-us-page .services-block div {
      display: table; }
  @media (min-width: 768px) {
    .about-us-page img {
      float: left;
      margin-right: 20px; } }

.about-team {
  background-color: #ecebf4;
  padding: 40px 0;
  text-align: center; }
  .about-team .img-circle-container {
    width: 150px;
    height: 150px;
    background-color: black;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    margin: 0 auto; }
  .about-team h3 {
    display: inline-block;
    position: relative;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    margin: 30px 0;
    padding: 10px 0; }
    .about-team h3:before {
      content: "";
      width: 60px;
      height: 2px;
      background: #dcb4bd;
      position: absolute;
      bottom: -10px;
      left: 36%; }
  .about-team .team-block {
    margin: 20px 0 30px; }
    .about-team .team-block figure img {
      max-width: 100%; }
    .about-team .team-block h4 {
      margin-top: 14px; }
    .about-team .team-block h5 {
      color: #dcb4bd;
      font-style: italic; }
    .about-team .team-block p {
      color: #888888;
      padding: 0 20px;
      line-height: 26px; }
    .about-team .team-block a {
      background-color: #dcb4bd;
      color: #fff;
      border-radius: 0;
      -webkit-transition: 0.5s ease;
      -moz-transition: 0.5s ease;
      -ms-transition: 0.5s ease;
      -o-transition: 0.5s ease;
      transition: 0.5s ease;
      padding: 10px 20px;
      margin: 16px 0; }
      .about-team .team-block a:hover {
        background-color: #c58392;
        text-decoration: none;
        color: #fff; }

/* carousel */
.testimonials-content-wrapper {
  margin: 60px 0 70px;
  text-align: center; }
  .testimonials-content-wrapper .testimonials-header {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    display: inline-block;
    position: relative; }
    .testimonials-content-wrapper .testimonials-header:before {
      content: "";
      width: 60px;
      height: 2px;
      background: #dcb4bd;
      position: absolute;
      bottom: -10px;
      left: 35%; }

#quote-carousel {
  padding: 0 10px 30px 10px;
  margin-top: 30px; }
  #quote-carousel .carousel-inner {
    height: 200px; }
    @media (max-width: 767px) {
      #quote-carousel .carousel-inner {
        height: 350px; } }
    @media (min-width: 768px) and (max-width: 992px) {
      #quote-carousel .carousel-inner {
        height: 150px; } }
  #quote-carousel .carousel-control {
    background: none;
    color: #222;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px; }
    #quote-carousel .carousel-control .left {
      left: -12px; }
    #quote-carousel .carousel-control .right {
      right: -12px !important; }
  #quote-carousel img {
    width: 250px;
    height: 100px; }
  @media (min-width: 768px) {
    #quote-carousel {
      margin-bottom: 0;
      padding: 0 40px 30px 40px; } }

.item blockquote {
  border-left: none;
  margin: 0; }
  .item blockquote img {
    margin-bottom: 10px; }
  .item blockquote p {
    padding: 10px 12px; }
    .item blockquote p:before {
      content: "\f10d";
      font-family: 'Fontawesome';
      float: left;
      margin-right: 10px; }
  .item blockquote small {
    color: #dcb4bd; }

.projects {
  padding: 0; }
  .projects .row {
    margin: 0; }
  .projects .card-block {
    padding: 0; }
  .projects .card {
    transform-style: preserve-3d;
    position: absolute;
    width: 100%;
    height: 274px;
    perspective: 1000px; }
    .projects .card .content {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-transition: 1s ease;
      -moz-transition: 1s ease;
      -ms-transition: 1s ease;
      -o-transition: 1s ease;
      transition: 1s ease;
      transform-style: preserve-3d; }
      .projects .card .content .overlay {
        align-items: center;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
      .projects .card .content .front, .projects .card .content .back {
        position: absolute;
        height: 100%;
        width: 100%;
        backface-visibility: hidden;
        transform: scale(1);
        transform-style: preserve-3d; }
        .projects .card .content .front .card-text, .projects .card .content .back .card-text {
          position: absolute;
          margin: auto;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -25%) translateZ(80px);
          text-align: center;
          color: #fff;
          line-height: 26px; }
          .projects .card .content .front .card-text h4, .projects .card .content .back .card-text h4 {
            font-weight: 600;
            font-family: 'Dancing Script', cursive;
            font-size: 30px; }
      .projects .card .content .front .overlay {
        background-color: rgba(121, 94, 111, 0.35); }
      .projects .card .content .back {
        transform: rotateY(180deg); }
        .projects .card .content .back .overlay {
          background-color: rgba(121, 94, 111, 0.35); }
        .projects .card .content .back .card-text {
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          transform: translate(0, 25%) translateZ(80px);
          padding: 26px; }
          .projects .card .content .back .card-text h4 {
            margin-top: -20px; }
          .projects .card .content .back .card-text p {
            margin: 40px 0 20px; }
          .projects .card .content .back .card-text a {
            color: #fff;
            text-transform: uppercase;
            text-decoration: underline;
            font-weight: 600; }
      .projects .card .content img {
        width: 100%;
        vertical-align: initial;
        height: 274px;
        object-fit: cover; }
        @media (min-width: 992px) {
          .projects .card .content img {
            height: 363px; } }
    .projects .card:hover .content {
      transform: rotateY(180deg);
      -webkit-transition: 0.8s ease;
      -moz-transition: 0.8s ease;
      -ms-transition: 0.8s ease;
      -o-transition: 0.8s ease;
      transition: 0.8s ease; }
    .projects .card:after {
      content: "";
      display: table;
      clear: both; }
    @media (min-width: 992px) {
      .projects .card {
        height: 363px; } }
  .projects .ghost {
    visibility: hidden;
    width: 100%;
    top: 0;
    left: 0;
    position: relative; }

.scrollToTop {
  display: none; }
  @media (min-width: 1200px) {
    .scrollToTop {
      height: 60px;
      width: 60px;
      text-align: center;
      font-weight: bold;
      font-size: 33px;
      z-index: 5000;
      color: #fff;
      background-color: #dcb4bd;
      border: 4px solid #dcb4bd;
      border-radius: 50%;
      text-decoration: none;
      position: fixed;
      top: 75px;
      right: 40px;
      display: none;
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -ms-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      transition: 0.3s ease; }
      .scrollToTop:hover {
        text-decoration: none;
        background-color: #fff;
        color: #dcb4bd; } }

.bouquets-block {
  text-align: center; }
  .bouquets-block h3 {
    position: relative;
    font-weight: 600;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    margin: 40px 0;
    display: inline-block; }
    .bouquets-block h3:before {
      content: "";
      width: 60px;
      height: 2px;
      background: #dcb4bd;
      position: absolute;
      bottom: -10px;
      left: 0; }
  .bouquets-block .one-bouquet {
    position: relative;
    overflow: hidden;
    backface-visibility: hidden; }
    .bouquets-block .one-bouquet img {
      width: 100%;
      height: auto;
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -ms-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      transition: 0.3s ease;
      margin: 10px 0; }
    .bouquets-block .one-bouquet .buy-now {
      position: absolute;
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -ms-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      transition: 0.3s ease;
      animation: fade 0.3s;
      display: none; }
      .bouquets-block .one-bouquet .buy-now .btn {
        background-color: #dcb4bd;
        color: #fff;
        border-radius: 0; }
        .bouquets-block .one-bouquet .buy-now .btn:hover {
          background-color: #c58392;
          text-decoration: none;
          color: #fff; }
    .bouquets-block .one-bouquet:hover .buy-now {
      display: block;
      top: 45%;
      left: 40%; }
    .bouquets-block .one-bouquet:hover img {
      transform: scale(1.1);
      backface-visibility: hidden;
      overflow: hidden;
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -ms-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      transition: 0.3s ease;
      filter: blur(3px); }
  .bouquets-block .bouquet {
    margin: 20px 0;
    padding: 0;
    column-count: 4;
    column-width: 200px;
    column-gap: 20px; }

.content-404 {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 80.75%;
  overflow: hidden; }
  .content-404 h4 {
    font-size: 34px; }
    @media (min-width: 992px) {
      .content-404 h4 {
        font-size: 44px; } }
  .content-404 h3 {
    font-size: 56px;
    text-transform: uppercase;
    margin: 36px 0; }
    @media (min-width: 992px) {
      .content-404 h3 {
        font-size: 56px; } }
  .content-404 .btn {
    background-color: #dcb4bd;
    color: #fff;
    border-radius: 0;
    padding: 20px 30px;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease; }
    .content-404 .btn:hover {
      background-color: #c58392;
      text-decoration: none;
      color: #fff; }

/*# sourceMappingURL=style.css.map */
